html
    head
        link(rel="stylesheet" type="text/css" href="/css/styles.css")

    body
        h1 Tmp page
        #exersises
            - for (var i = 0; i < arr.length; i++)
                div
                    - each val, key in ['v0', 'opp1', 'v1', 'opp2', 'v2']
                        if arr[i][val] == '?'
                            input(type='text')
                        else
                            span #{arr[i][val]}
